---
layout: default
---

<div class="container row">
    <h1 class="cv-title"><span class="black white-text">{{ site.title }}</span></h1>
    {% assign steps = site.steps | sort: 'date' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.date | date: '%Y-%m-%d' }}{% if step.enddate %} - {{ step.enddate | date: '%m/%Y' }}{% endif %}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ step.title }}
            </h3>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="last-item">
        
        <i class="vertical-line"></i>
    </div>

    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">About</h2>
        <div class="card-panel">    

                    <p>아프리카돼지열병이 국내에 유입되었습니다. 언젠가 올수도 있을 것이란 생각을 하고 있긴 했지만 막상 뚫리고 나니 예전 구제역 사태의 악몽이 떠올랐습니다. 축산업으로 밥을 먹고 사는 저같은 사람들은 그때의 상처들을 치유하는데 참 많은 시간이 걸렸습니다. 부디 예전 구제역 사태처럼 전국적으로 퍼지지 않고 어서 빨리 종식되었으면 좋겠다는 마음 뿐입니다.</p>
                    <p>많은 기사들이 나오고 있습니다. 경험상 그때그때 정리해 놓지 않고 있다가 나중에 한꺼번에 하려면 많은 노력과 시간이 들곤 합니다. 그래서 아프리카돼지열병이 시작되었던 9월 17일 오전, 사태의 진행을 시간 흐름에 따라 볼 수 있는 타임라인을 만들었습니다. 주요 사건과 기사를 포함한 통계자료를 업로드 하고 이 사건을 기록하는 목적입니다. 매일매일 타임라인이 더 이상 추가되질 않길, 살처분 두수 데이터가 업데이트 되지 않길 기도해 봅니다.</p>
                    <p>농림축산식품부에서 지속적으로 브리핑을 해 주고 있지만 정확한 사육규모와 예방적 안락사 농가수/두수에 대해서는 일부 데이터를 수집하는 과정 가운데 오류가 있을 수 있습니다. 개선사항이나 수정요청 사항은 Github <a href="https://github.com/YoungjunNa/asf-timeline/issues">Issue</a>에 등록해주시거나 Email로 문의하시면 적극 반영하도록 하겠습니다.</p>
                    <h4>Contacts</h4>
                    <ul>
                    <li>Email: <a href="mailto:ruminoreticulum@gmail.com">ruminoreticulum@gmail.com</a></li>
                    <li>Github Issue: <a href="https://github.com/YoungjunNa/asf-timeline/issues">https://github.com/YoungjunNa/asf-timeline/issues</a></li>
                    <li>Animal data lab: <a href="http://adatalab.net/" rel="nofollow">http://adatalab.net/</a></li>
                    </ul>
                    <h4>Contributors</h4>
                    <ul>
                    <li><a href="https://github.com/YoungjunNa/asf-timeline/graphs/contributors">https://github.com/YoungjunNa/asf-timeline/graphs/contributors</a></li>
                    </ul>
                    <h4>주요 참고자료</h4>
                    <ul>
                    <li>농림축산식품부 보도자료 <a href="http://www.mafra.go.kr/FMD-AI/2095/subview.do" rel="nofollow">#</a></li>
                    <li>돼지와 사람 <a href="http://www.pigpeople.net/news/article.html?no=7260" rel="nofollow">#</a></li>
                    <li>네이버 뉴스검색 <a href="https://search.naver.com/search.naver?where=news&amp;query=%EC%95%84%ED%94%84%EB%A6%AC%EC%B9%B4%20%EB%8F%BC%EC%A7%80%EC%97%B4%EB%B3%91&amp;sm=tab_srt&amp;sort=1&amp;photo=0&amp;field=0&amp;reporter_article=&amp;pd=0&amp;ds=&amp;de=&amp;docid=&amp;nso=so%3Add%2Cp%3Aall%2Ca%3Aall&amp;mynews=0&amp;refresh_start=0&amp;related=0" rel="nofollow">#</a></li>
                    <li>OIE ASF Reports <a href="https://www.oie.int/en/animal-health-in-the-world/animal-diseases/african-swine-fever/" rel="nofollow">#</a></li>
                    </ul>
    
        </div>
    </div>

</div>
