<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148154463-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148154463-1');
</script>

<head>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

 <title>{{ site.title }}</title>
    
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="index,follow">
    <meta itemprop="name" content="{{ site.title }}">
    <meta name="theme-color" content="{{ site.color }}">

    <link href="{{ site.baseurl }}/assets/css/materialize.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet">
    <style>body{background:{{ site.color }};}</style>
</head>